@import "variables";

*,*:after,*:before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img{border:none;}

.price-check {
	background-color: #0064d3;
	position: fixed;
	z-index: 1000;
	left: 0;
	right: 0;
	bottom: -52px;
	transition: all 0.5s;

	a {
		display: block;
		text-align: center;
		padding: 16px 0;
		font-size: 16px;
		font-weight: bold;
		color: #f4ae01!important;
	}
}

.ss-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	a {
		line-height: 14px;
		display: inline-block;
		color: #ffffff!important;
	}
	.ss-price {
		font-size: 16px;
	}
}


