@font: Arial, Helvetica, sans-serif;

@color-text: #4b6373;
@color-text--grey: #7e9aad;
@color-button: #328bc7;
@color-panels: #34425a;
@color-interface: #f8a51b;
@color-interface--grey: #4a5a73;
@color-attention: #ffa23c;