<div class="ss__box ss__box--dark">
    <div class="ss__wrap">
        <div class="ss__header">
            <div class="ss__logo">
                <span class="ss__logo-image"></span>
                <span class="ss__logo-text">Stock Stats</span>
            </div>
        </div>
        <div class="ss__product">
            <div class="ss__product-item">
                <a [href]="'http://www.amazon.com/dp/' + product.asin" target="_blank" class="ss__product-image">
                    <img [src]="product.image" alt="">
                </a>
                <div class="ss_product-item__info">
                    <h2 class="ss_product-title">
                        <a [href]="'http://www.amazon.com/dp/' + product.asin" target="_blank">
                            <span *ngIf="product.title">{{product.title}}</span>
                            <span *ngIf="!product.title">Loading product data...</span>
                        </a>
                    </h2>
                    <p>ASIN: <span>{{product.asin}}</span></p>
                    <p>Best Sellers Rank: <span>{{product.bsr}}</span></p>
                </div>
            </div>
            <div class="ss__product-info">
                <div class="ss__info-item">
                    <p class="ss__info-label">Show</p>
                    <div class="ss__select">
                        <a href="#" class="ss__open-dropdown">MF &amp; FBA sellers</a>
                        <ul class="ss__dropdown">
                            <li class="ss__dropdown-list"><a href="#" class="ss__dropdown-link"
                                                             (click)="sellerType = 'MF'">Only MF Sellers</a></li>
                            <li class="ss__dropdown-list"><a href="#" class="ss__dropdown-link"
                                                             (click)="sellerType = 'FBA'">Only FBA Sellers</a></li>
                            <li class="ss__dropdown-list"><a href="#" class="ss__dropdown-link" (click)="sellerType = ''">MF
                                &amp; FBA Sellers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ss__info-item">
                    <span class="ss__number" id="total_stock">{{product.totalStock}}</span>
                    <p class="ss__info-label">Total<br>stock</p>
                </div>
                <div class="ss__info-item">
                    <span class="ss__number" id="avg_stock">{{product.avgStock}}</span>
                    <p class="ss__info-label">Average<br>stock</p>
                </div>
            </div>
        </div>
        <div class="ss__table">
            <div class="ss__table-title">
                <div class="ss__col ss__col-1">
                    <a href="#" class="ss__visible" id="show_rows"></a>
                </div>
                <div class="ss__col ss__col-2">
                    <p>Seller Name</p>
                </div>
                <div class="ss__col ss__col-3">
                    <p>Price</p>
                </div>
                <div class="ss__col ss__col-4">
                    <p>Stock<i class="stock-icon"></i></p>
                </div>
                <div class="ss__col ss__col-5">
                    <p>Fulfilled by Amazon?</p>
                </div>
                <div class="ss__col ss__col-6">
                </div>
            </div>
            <div class="ss__table-line" *ngFor="let seller of getSellers(); trackBy: trackByFn">
                <div class="ss__col ss__col-1">
                    <a href="#" class="ss__visible ss__visible--hidden"></a>
                </div>
                <div class="ss__col ss__col-2">
                    <p><a [href]="seller.link" target="_blank">{{seller.name}}</a></p>
                </div>
                <div class="ss__col ss__col-3">
                    <p><span class="ss__valute">$</span> {{seller.price}}</p>
                </div>
                <div class="ss__col ss__col-4">
                    <p class="stock" id="seller_3006">{{seller.stock}}</p>
                </div>
                <div class="ss__col ss__col-5 fba">
                    <p class="ss__color-red" [innerHtml]="isFBA(seller.type)"></p>
                </div>
                <div class="ss__col ss__col-6">
                    <div class="ss__stars">
                        <div class="ss__stars-item" style="width: 100%;"></div>
                    </div>
                    <span class="ss__stars-text">{{seller.positivFeedbacks}}% positive over the past 12 months. ({{seller.rating}} total ratings)</span>
                </div>
            </div>
        </div>
    </div>
</div>

